# Use the "local" spawn strategy to improve build performance [test]
build --spawn_strategy=local

# Flag to enable remote config
common --experimental_repo_remote_exec

# By default, build in C++ 17 mode.
build --cxxopt=-std=c++17
build --host_cxxopt=-std=c++17
